body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.concent-2{
    height:100vh;
    width:100%;
    display: flex;
    overflow: hidden;
}
.concent-2-wrapper{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    height: 100vh;
    width:100%;
}
.left-details{
    width: 48%;
    background:#0f174e;
    color:#fff;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
}
.left-details h1{
    font-size: 46px;
    font-weight: bolder;
    color:#e2b751;
    text-transform: uppercase;
}
.right-img{
    width: 52%;
    object-fit:cover;
    height: 100vh;
}
.right-img img{
    width:100%;
    height:100%;
}
.concent-2-opt{
    margin-top: 40px;
}
.disclaimer{
    margin-top: 190px;
}
.concent-2-opt .btn-info{
    background-color: #ec980b;
    border-color: #ec980b;
    border-radius: 20px 20px 20px 20px!important;
    padding: 11px 25px;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    width:250px;
    margin-right: 10px;
}
.concent-2-opt .btn-success{
    background-color:transparent;
    border-color:#ec980b;
    color:#ec980b;
    border-radius: 20px 20px 20px 20px!important;
    padding: 11px 25px;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    width:250px;
}
@media(max-width:768px){
    .concent-2-opt .btn-info {
        background-color: #ec980b;
        border-color: #ec980b;
        border-radius: 20px 20px 20px 20px!important;
        padding: 11px 25px;
        transition: .5s;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .concent-2-opt .btn-success {
        background-color: transparent;
        border-color: #ec980b;
        color: #ec980b;
        border-radius: 20px 20px 20px 20px!important;
        padding: 11px 25px;
        transition: .5s;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
    }
    .right-img{
        display: none;
    }
    .left-details{
        width:100%;
        background-image: linear-gradient(rgb(5 25 83 / 92%), rgb(29 46 94 / 83%)), url(../images/bg4.jpg);        background-size: cover;
    }
    .left-details h2{
        font-size: 20px;
       
    }
    .concent-2-opt {
        margin-top: 40px;
        width: 100%;
        padding: 5px 15px;
    }
}
.concent{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jfif");
    /* background:#000; */
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;   
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.concent-content h1{
    color:#fff;
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom: 20px;
}
.concent .btn-info{
    background-color: #ec980b;
    border-color: #ec980b;
    border-radius: 20px 20px 20px 20px!important;
    padding: 11px 25px;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    width:150px;
    margin-right: 10px;
}
.concent .btn-success{
    background-color:red;
    border-color:red;
    border-radius: 20px 20px 20px 20px!important;
    padding: 11px 25px;
    transition: .5s;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    width:150px;
}
.concent-img{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-30px;
    margin-bottom:50px;
}
.concent-img img{
    width:30%;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding:10px 0px;
    /* height:64px; */
    height: 80px;
    padding-left: 24px;
    box-sizing: border-box;
    
}

.navbar-default .navbar-brand {
    color: #ec980b;
    font-weight: bolder;
    font-size: 24px;
}
.btn-info {
    color: #fff;
    background-color: #189c22;
    border-color: #189c22;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius:20px !important;
}
.navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
    height:40px;
    margin-left: 20px;
    width: 100%;
    
}
.navbar-nav > li {
    float: left;
    font-size: 18px;
    color: #ec980b;
}
.navbar-default .navbar-nav > li > a {
    color: #343538;
    font-size: 18px;
    font-weight: bold;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height:40px;
}
.input-group .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-right:none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navbar-left {
    float: left !important;
    margin-left: 100px; 
    margin-left: 10px;
    width: 40%;
    margin-top: -0.2px;
}
.input-group-addon {
    padding: 6px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: #189c22;
    border-color: #189c22;
    border-radius: 4px;
}
.category-list{
    margin-top: -116px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    background: #189c22;
    z-index: 999;
}
.item-list{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.item-list li{
    list-style-type: none;
    padding:10px;
}
.item-list li a{
    color:#fff;
    font-size: 18px;
}
.item-list li a:hover{
    color:#ec980b;
    font-size: 18px;
    text-decoration: none;
}

@media(max-width:768px){
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0f174e;
    }
    .navbar-default .navbar-toggle {
        border-color: #e2b751;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #e2b751;
    }
    .item-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* overflow: hidden; */
        overflow-y: scroll;
        margin-left: -45px;
    }
    .item-list li a {
        color: #fff;
        font-size: 13px;
    }
    .item-list li a:hover{
        color:#ec980b;
        font-size: 13px;
        text-decoration: none;
    }
    .category-list {
        margin-top: -100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        position: fixed;
        width: 100%;
        background: #0f174e;
    }
    .navbar-left {
        float: left !important;
        margin-left:0px;
    }
    .navbar-form {
        padding: 10px 0px;
        margin-top: 8px;
        margin-right: 0px;
        margin-bottom: 8px;
        margin-left: 0px;
        border: none;
        box-shadow: none;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
        height: 40px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .navbar-default .navbar-brand {
        color: #ec980b;
        font-weight: bolder;
        font-size: 22px;
        padding-left:10px;
    }
    .navbar-default .navbar-brand:hover {
        color: #ec980b;
        font-weight: bolder;
        font-size: 22px;
    }
}

.banner{
    height:50vh;   
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 100%;
}


.product-list{
    margin-top: 190px;
    margin-bottom: 50px;
}
.product-list h1{
    color: #343538;
    text-align: center;
    font-size: 31px;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 40px;
}
.product-list-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pro-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 16%;
    box-shadow: 0 0 10px #e3e3e3;
    background: #fff;
    /* margin-left: 2px;
    margin-right: 2px; */
    min-height: 300px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}
.pro-img{
    width:100%;
    object-fit: contain;
    padding: 6px;
}
.img-pro{
    width:100%;
}
.pro-desc h4{
    font-size: 14px;
    color:#0f174e;
}
.card-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width:100%;
    padding:0px 20px;
    padding-bottom: 10px;
    border-top:1px solid#55555524;
    margin-top:10px;
}
.card-footer h5{
    font-weight: bold;
    color: #0f174e;
}
.card-footer a{
    color: #ec980b;
    font-size: 20px;
}

@media(max-width:768px){
    .pro-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 49%;
        box-shadow: 0 0 10px #e3e3e3;
        background: #fff;
        min-height: 240px;
        margin-bottom: 20px;
    }
    .product-list h1 {
        color: #0f174e;
        font-size: 14px;
        margin-bottom: 29px;
        margin-top: -2px;
    }
    .pro-desc{
        padding:0px 10px;
    }
    .pro-desc h4 {
        font-size: 12px;
        color: #0f174e;
        text-align: center;
        /* font-weight: bold; */
    }
}

.modal fade in{
    display: block;
    padding-right: 0px;
}
.modal{
    background: #071636ba;
}
.modal-dialog {
    width: 60%;
    margin: 60px auto;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    height:80vh;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #000;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}
.modal-header {
    padding-top: 45px;
    border-bottom:none;
}
.modal-body{
    padding:0px 70px;
}
.btn-primary{
    font-weight: 700;
    text-decoration: none;
    padding: 20px 60px;
    min-width: 120px;
    color: #fff;
    background-color: #00a082;
    font-size: 18px;
    border-radius: 100px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 340px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 50px;
}
.well{
    margin-bottom: 30px;
    background:#0becbe3d;
    border:none;
    border-radius: 4px;
    box-shadow:none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ec980b;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

@media(max-width:768px){
    .modal-header .close {
        margin-top: -35px;
    }
    .modal-dialog {
        width: 90%;
        margin: 60px auto;
    }
    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        color: #000;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 0;
        text-align: center;
        margin-top: 60px;
    }
    .modal-body {
        padding: 0px 15px;
    }
    .well {
        min-height: 20px;
        padding: 18px;
        margin-bottom: 20px;
    }
    .well p{
        text-align: center;
    }
    .btn-primary {
        font-weight: 700;
        text-decoration: none;
        padding: 12px 60px;
        min-width: 120px;
        color: #fff;
        background-color: #00a082;
        font-size: 18px;
        border-radius: 100px;
        border: none;
        text-align: center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
        backdrop-filter: blur(10px);
        max-width: 340px;
        margin: 0 auto;
        box-sizing: border-box;
        margin-top: 50px;
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 11px;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #ec980b;
        border-color: #ec980b;
        border-radius: 4px;
    }
    .pro-img {
        width: 100%;
        object-fit: contain;
        padding: 4px;
       
    }
    .form-control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-top-left-radius:50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .input-group .form-control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-right: none;
        border-top-left-radius:0px;
        border-bottom-left-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 11px;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #ec980b;
        border-color: #ec980b;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
}
.top-search{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.top-left{
    width:100%;
}

@media(max-width:768px){
    .cart-table table tbody tr td.product-subtotal .remove {
        color: red;
        float: right;
        position: relative;
        top: 17px;
    }
    .btn-light {
        background-color: transparent;
        color: #0f174e;
        border-color: #0f174e;
        width: 100%;
    }
    .top-search{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        flex-direction:column-reverse;
    }
    
    .top-left{
        width:100%;
    }
}
.card-payment{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#0f174e;
}
.content-payment{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.10rem;
    padding:10px 5px;
    box-shadow: 0 0 10px #e3e3e3;
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(15 23 78);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}

.track .step.active:before {
    background: #ec980b;
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}

.track .step.active .icon {
    background: #ec980b;
    color: #fff;
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}

.track .step.active .text {
    font-weight: 400;
    color: #000;
}

.track .text {
    display: block;
    margin-top: 7px;
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px;
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0;
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-warning {
    color: #ffffff;
    background-color: #ec980b;
    border-color: #ec980b;
    border-radius: 1px;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #ec980b;
    border-color:#ec980b;
    border-radius: 1px;
}
.hero{
    width: 100%;
    min-height: 428px;
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../images/bg22-01.jpg);
    background-color: rgb(222, 237, 214);
}
.hero-wrapper{
    display: flex;
    flex-direction: column;
    width:60%;
}
.hero-location{
    margin-top: 20px;
}
.hero .input-group .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    /* background-color: #fff; */
    background-image: none;
    border-color:#fff;
    border-right: none;
    border-radius: 4px;
    box-shadow: none;
}
.hero .btn-default{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    height:50px;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #189c22;
    border-color: #189c22;
    border-radius: 4px;
    text-transform: none !important;
}
.hero .btn-default:hover{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    height:50px;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #189c22;
    border-color: #189c22;
    border-radius: 4px;
    text-transform: none !important;
}
.title-hero h1{
    font-size: 41px;
    line-height: 52px;
    font-weight: 600;
    color: rgb(52, 53, 56);
    margin: 0px;
    width: 578px;
}
.title-hero p{
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    margin: 16px 0px 0px;
}
.hero-location h2{
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.pro2-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #E8E9EB;
    padding:10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    width:30%;
    margin:5px;
}
.pro2-img{
    width:25%;
    padding:10px;
    
}
.pro2-img img{
    width:100%;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid #E8E9EB;
}
.pro2-desc{
    width:75%;
    white-space: nowrap;
    flex-grow: 1;
    margin-left: 12px;
    overflow: hidden;
}
.pro2-desc h4{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #343538;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro2-desc p{
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    color: #343538;
    margin: 0;
}
.all-vendors h2{
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 60px;
    color: #0AAD0A;

}
.call-to-action{
    padding-bottom: 50px;
}
.cta-header h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: normal;
    padding-bottom: 48px;
    color: #343538;
    text-align: center;
}
.cta-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-desc{
    padding: 32px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:1;
    color: #343538;
}
.cta-desc h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #343538;
    hyphens: auto;
    word-break: break-word;
}
.cta-desc p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    max-width: 235px;
}
.cta-one{
    min-width: 300px;
    background-color: #F6F7F8;
    border-radius: 8px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    overflow: hidden;
}
.product-list .pro22-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    width: 31%;
    margin: 5px;
}
.product-list h2{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    color: #343538;
    margin-bottom:20px;
}
.btn-default2{
    color: #000;
    font-weight: bolder !important;
    background-color: #eff0f1;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 20px !important;
    text-transform: none;
}
.shop-items{
    margin-bottom: 50px;
}
.shop-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
    width:100%;
}
.shop-item-wrap{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
}
.shop-items-list{
    display: flex;
    justify-content:center;
    align-items: center;
    width:19%;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
    padding-right:5px;
}

.items-img{
    width:70%;
    padding:0px;
}
.items-img img{
    width:100%;
    object-fit: cover;
}
.shop-menu h2{
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    color: rgb(52, 53, 56);
    text-decoration: none;
}
.shop-menu a{
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(10, 173, 10);
}
.items-desc{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.items-desc h3{
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: rgb(52, 53, 56);
    margin-right: 4px;
}
.items-desc p{
    font-size: 16px;
    line-height: 1px;
    font-weight: 600;
    color: rgb(202, 119, 10);
}
.btn-warning{
    margin-top: 10px;
    align-items: center;
    background: rgb(255, 240, 189);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 800;
    text-transform: none !important;
    color: rgb(188, 91, 18);
  
}
.items-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}